<div id="githubWrapper">
    <a href="https://github.com/iamtor9/mongo-mongo" id="githubLink">GitHub</a>
</div>
<div id="container">
    <form class="articleForm">
        <a class="link" href="#"></a>
        <p class="summary"></p>
        <ul class="comments"></ul>
        <textarea name="comment"></textarea>
        <input type="submit" value="Comment">
    </form>
    <h1>
        The Daily Scraper
        <img id="scrapeImg" src="assets/images/refresh.png" alt="Scrape News"></img>
    </h1>
    <h2 id="subHeader">Wednesday, October 8th</h2>
    <form id="filterForm">
        <input placeholder="Keywords" name="keywords">
        <input type="submit" value="Filter">
    </form>
    <form id="addFeedForm">
        <input placeholder="RSS url" name="url">
        <input placeholder="Site name" name="site">
        <input type="submit" value="Add feed">
    </form>
    <table>
        <tr id="articles"></tr>
    </table>
    <div id="loading" class="hide">
        <h2>Skirt Skirt</h2>
        <img src="assets/images/loading.gif">
    </div>
</div>
